extends app.pug
block content
  br
  each entry in entries
    .cointainer
      .row
      .col-sm-6.offset-sm-2
        .card.card-block
          h3
            a(href=entry.slug)=entry.title
          p= entry.content
