extends app.pug
block content
  br
  .container
    .row
      .col-xs-6.offset-xs-3
        h3 Login
        hr
        form(action="/login" method="POST")
          .form-group
            label(for="user-email") Email
            input(type="email" name="email" class="form-control" id="user-email")
          .form-group
            label(for="user-password") Password
            input(name="password" type="password" class="form-control" id="user-password")
          .form-group.text-xs-right
            button(type="submit" class="btn btn-sm btn-secondary") Log in
