extends ../app.pug
block content
  br
  .container
    .row
      .col-xs-8.offset-xs-2
        form(action= "/admin/entries/" + entry.id method="POST" )
          input(type="hidden" name="_method" value="PUT")
          .form-group
            label(for="Title") Title
            input(type="text" class="form-control" name="title" value=entry.title)
          .form-group
            label(for="Slug") Slug
            input(type="text" class="form-control" name="slug" value=entry.slug)
          .form-group
            label(for="exampleTextarea") Content
            textarea(class="form-control" id="textarea" rows="10" name="content")= entry.content
            button(type="submit" class="btn btn-success" ) Submit
