extends ../app.pug
block content
  br
  each entry in entries
    .cointainer
      .col-xs-6.offset-xs-2
        .card.card-block
          .row
            .col-xs-8
              h3=entry.title
            .col-xs-1.text-xs-right
              a(href="entries/" + entry.id + "/edit" class="btn btn-warning btn-sm")='Edit'
            .col-xs-1.text-xs-right
              form(action="/admin/entries/" + entry.id, method='POST')
                input(type='hidden', name='_method', value='DELETE')
                button.btn.btn-danger.btn-sm(type='submit') Delete
