extends ../app.pug

block content
  .cointainer
    br
    each entry in entries
      .row
      .col-sm-6.offset-sm-2
        .card.card-block
            a(href="/entries/" + entry.id)
            h3= entry.title
            p= entry.content
